[workspace]
members = [
  "runtime/*",
  "emulator",
  "prover",
  "build",
]
resolver = "2"


[profile.release]
opt-level = 3

[profile.bench]
opt-level = 3

[profile.fast]
inherits = "release"
debug = true
debug-assertions = true

